html
    include head

    body
        include ../includes/header

        .container-fluid
            .row
                case sidebar
                    when true
                        include ../includes/sidebar/sidebar
                    when false
                        - break;

                block content

        include scripts