html
    include head

    body.hold-transition.skin-black
        .wrapper
            include ../includes/header
            if !hideSidebar
                include ../includes/sidebar/sidebar
            .content-wrapper
                if pageheader
                    section.content-header
                        h1= headerTitle
                section.content.container-fluid
                    block content
        include scripts