html
    include parts/head.pug

    body
        include parts/header.pug

        .container-fluid
            .row
                case sidebar
                    when true
                        include parts/sidebar/sidebar.pug
                    when false
                        - break;

                block content

        include scripts