html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="Softwarelab Admin Site")
        title Softwarelab Userlogin
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/login.css")
    body
        div(class='container')
            form.form-signin(action="/dashboard")
                h2.form-signin-heading Pleas sign in
                label.sr-only(for="inputEmail") E-Mail
                input.form-control(type="email", id="inputEmail", placeholder="E-Mail", required, autofocus)
                label.sr-only(for="inputPassword") Password
                input.form-control(type="password", id="inputPassword", placeholder="Password", required)
                .checkbox
                    label: input(type="checkbox", value="remember-me")
                button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in

    script(src="js/bootstrap.min.js")