extends global/master

block content
    h1 Create new service
    .form-group
        select.selectedServiceType.form-control
            option NodeJS
            option Database
    .form-group.nodeJS-sel
        label.control-label(for='sel_nodejs_name') Please enter the displayed name of your service
        textarea.form-control(cols='40' id='sel_nodejs_name' name='name' rows='1')
        label.control-label(for='sel_nodejs_port') Please enter the wanted port
        textarea.form-control(cols='40' id='sel_nodejs_port' name='port' rows='1')
        label.control-label(for='sel_nodejs_path') Please specify the path your starting file
        textarea.form-control(cols='40' id='sel_nodejs_path' name='path' rows='1')
    .form-group.database-sel(style="display:none;")
        label.control-label(for='sel_database_name') Please enter the displayed name of your service
        textarea.form-control(cols='40' id='sel_database_name' name='name' rows='1')
        label.control-label(for='sel_database_root') Please enter your root-username
        textarea.form-control(cols='40' id='sel_database_root' name='root' rows='1')
        label.control-label(for='sel_database_root_pw') Please enter your root-password
        textarea.form-control(cols='40' id='sel_database_root_pw' name='password' rows='1')
    .form-group
        button.btn(name='submit' type='submit') Create