extends global/master

block content
    h1 Node
    .row
        .col-md-12
            .box.box-info
                .box-header.with-border
                    a(href=link)
                        h3.box-title= 'Project Nodeserver'
                .box-body
                    .callout.callout-success Seems like the server is running without problems

    .row
        .col-md-12
            .btn-group
                .btn.btn-success Start
                .btn.btn-danger Stop
                .btn.btn-warning Restart