extends global/master
include includes/box

block content
    main.col-sm-9.ml-sm-auto.col-md-10.pt-3(role="main")
        h1= activeProject.name
        .row
            .col-sm-6.col-lg-3
                +box("Node", "test Test", "/node?id=" + activeProject.id)
            .col-sm-6.col-lg-3
                +box("Gitlab", "test Test", "/gitlab?id=" + activeProject.id)
            .col-sm-6.col-lg-3
                +box("Datenbanken", "test Test", "/databases?id=" + activeProject.id)
            .col-sm-6.col-lg-3
                .box.box-default
                    .box-header.with-border
                        h3.box-title Add New
                    .box-body.text-center
                        // TODO Add Create
                        a(href="")
                            i.fa.fa-plus-circle.text-green
                            span Add New