extends global/master
include includes/box

block content
    .col-md-12
        h1= activeProject.name
        .row
            .col-sm-6.col-lg-3
                +box("NodeJS", "My first NodeJS-Server", "/node?id=" + activeProject.id)
            .col-sm-6.col-lg-3
                +box("Databases", "My first Database", "/databases?id=" + activeProject.id)
            .col-sm-6.col-lg-3
                .box.box-default
                    .box-header.with-border
                        h3.box-title Add New
                    .box-body.text-center
                        a(href="/newservice")
                            i.fa.fa-plus-circle.text-green
                            span Add New
        .row
            .col-md-12
                .box.box-info
                    .box-header.with-border
                        if (message)
                            p= message
                        .box-body
                            form.form-horizontal(action="/api/deleteproject", method="post")
                                .row
                                    .col-xs-4
                                        button.btn.btn-danger.btn-blockbtn-flat(type="submit" name="id" value=`${activeProject.id}`) Delete
