const config = {
    //Can be ldaps (636)
    'url': 'ldap://s1.classennetwork.com:389',
    //CN => Administrator USER, OU => Organization Unit, DC => Domain controller
    'bindDn': 'cn=Administrator,ou=Administratoren,dc=classennetwork,dc=com',
    //PASSWORD
    'bindCredentials': '',
    //In which Organization Unit shall we search?
    // TODO: Better understanding of the searchBase
    'searchBase': 'ou=Administratoren,dc=classennetwork,dc=com',
    //Search based on this input
    'searchFilter': '(userPrincipalName={{username}})',
}