li.nav-item
    a(class="nav-link collapsed py-0", href="#servicesub", data-toggle="collapse", data-target="#servicesub"): i(class="fa fa-fw fa-cog") Services
        div(class="collapse small", id="servicesub", aria-expanded="false")
            ul(class="flex-column nav pl-4")
                li.nav-item
                    a(class="nav-link p-0", href="")
                        i(class="fa fa-fw fa-cog") Node JS
                li.nav-item
                    a(class="nav-link p-0", href="./fail2ban.html")
                        i(class="fa fa-fw fa-cog") Fail2Ban
                li.nav-item
                    a(class="nav-link p-0" href="")
                        i(class="fa fa-fw fa-cog") Nginx
                li.nav-item
                    a(class="nav-pills btn-sm btn-secondary p-0", href="")
                        i(class="fa fa-fw fa-plus") Create New&nbsp