li.nav-item
    a(class="nav-link collapsed py-0", href="#dbsub" data-toggle="collapse" data-target="#dbsub")
        i(class="fa fa-fw fa-database") Databases
            div(class="collapse small", id="dbsub", aria-expanded="false")
                ul(class="flex-column nav pl-4")
                    li.nav-item
                        a(class="nav-link p-0", href="")
                            i(class="fa fa-fw fa-database") DB 01
                    li.nav-item
                        a(class="nav-link p-0", href="")
                            i(class="fa fa-fw fa-database") DB 01
                    li.nav-item
                        a(class="nav-pills btn-sm btn-secondary p-0", href="")
                            i(class="fa fa-fw fa-plus") Create New&nbsp