li.treeview
    a(href="#")
        i.fa.fa-fw.fa-clock-o
        span Node
        span.pull-right-container
            i.fa.fa-angle-left.pull-right
    ul.treeview-menu
    if (apps)
        each app in apps 
            li
                a(href="/node")
                    i.fa.fa-fw.fa-clock-o
                    span app.name