li
    a.nav-link.collapsed.py-0(href="#dbsub" data-toggle="collapse" data-target="#dbsub")
        i.fa.fa-fw.fa-database
        span Databases
            .collapse.small#dbsub(aria-expanded="false")
                ul.flex-column.nav.pl-4
                    li
                        a.nav-link.p-0(href="")
                            i.fa.fa-fw.fa-database
                            span DB 01
                    li
                        a.nav-link.p-0(href="")
                            i.fa.fa-fw.fa-database
                            span DB 01
                    l
                        a.nav-pills.btn-sm.btn-secondary.p-0(href="")
                            i.fa.fa-fw.fa-plus
                            span Create New&nbsp