li.treeview
    a(href="#")
        i.fa.fa-fw.fa-database
        span Databases
        span.pull-right-container
            i.fa.fa-angle-left.pull-right
    ul.treeview-menu
        li
            a(href="")
                i.fa.fa-fw.fa-plus.text-green
                span Create New
        li
            a(href="")
                i.fa.fa-fw.fa-database
                span DB 01
        li
            a(href="")
                i.fa.fa-fw.fa-database
                span DB 01
