each proj in participations
    li.treeview
        a(href='#')= proj.name
            span.pull-right-container
                i.fa.fa-angle-left.pull-right
        ul.treeview-menu
            li
                a(href=`/project?id=${proj.id}`) Overview
            include sidebar_node
            include sidebar_db