nav.col-sm-3.col-md-2.d-none.d-sm-block.bg-light.sidebar
    ul.nav.nav-pills.flex-column
        li.nav-item
            a.nav-link.active(href="/dashboard") Dashboard
        hr
        include sidebar_project.pug